{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- media.js -->
    <script type="text/javascript" src="http://github.com/malsup/media/raw/master/jquery.media.js?v0.92">
    </script> 
    <script type="text/javascript" src="jquery.metadata.js"></script> 
    <!-- google doc viewer -->
    <script type="text/javascript" src="jquery.gdocsviewer.min.js"></script>
    <title>My Portal</title>
    <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
    
</head>

{% block home %}
<body style="margin: 0;padding: 0;height: 100vh">
       
        <div id="wrapper">
            {% url 'portal' as portal %}
            
            <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                       
                        <li>
                            <a href="{% url 'lab_manuals' %}" style="padding-top: 60px;"><i class="fa fa-dashcube" aria-hidden="true"></i> Lab Manuals</a>
                        </li>
                        <li>
                            <a href="{% url 'timetable' %}"><i class="fa fa-clock-o" aria-hidden="true"></i> Timetable</a>
                        </li>
                        <li>
                            <a href="{% url 'assignments' %}"><i class="fa fa-building-o" aria-hidden="true"></i> Assignments</a>
                        </li>
                        <li>
                            <a href="{% url 'sample_papers' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Sample Papers</a>
                        </li>
                        <li>
                            <a href="{% url 'reference_material' %}"><i class="fa fa-book" aria-hidden="true"></i> Reference Material</a>
                        </li>
                   
                </div>

            <!-- /#sidebar-wrapper -->
            
            <!-- Page Content -->
            {% if request.path == portal %}
            
            <div id="particles-js" style="height: 100%; background:#073342 ">
                <div class="hero-text" style="top: 50%;left: 50%;transform: translate(-50%, -50%);position: absolute;color: #fff">
                    <h1 style="font-size:2rem ;font-family: 'Allerta Stencil';color:#F5FF1B">Welcome to your Portal!</h1>
                    <div >
                        <h1  style="text-align: center; font-family: 'Allerta Stencil';font-size: 40px;"> @{{ user.username }}</h1>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if not request.path == portal %}
            <div id="page-content-wrapper" style="padding-top: 80px; padding-left: 40px ;padding-right:40px">
                
                <div class="jumbotron" style="background-color: #113E6B; color: #FFFFFF ">
                  <div class="container-fluid">
                    <h1 class="display-5">{{ request.path.title }}</h1>
                    <p>Please dowload the required files.</p>
                  </div>
                </div>
                    {% block abc %}
                    {% endblock %}
               
                
            </div>
            {% endif %}    
            <!-- /#page-content-wrapper -->

        </div>
    <!-- /#wrapper -->
   

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>


    <!-- Menu Toggle Script -->
    <script>
    $("#MyPortal").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <!-- Particles.js -->
    <script type="text/javascript" src="{% static 'javascript/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/app.js' %}"></script>
{% endblock %}
</body>

</html>
