{% extends 'portal.html' %}

{% block abc %}
<title>Reference Material</title>

{% if file %}
    <div class="container">
      
        <div class="row">
          {% for each in file %}
          <div class="col-md-4" style="padding: 20px ">
            <h5>{{ each.Title }}</h5>
            <h6>Author : {{each.Author}}</h6>
            <img src="{{ each.Image.url }}" class="img img-responsive" style="width:50%;height:50%">
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>
                Uploaded On: {{ each.timestamp }}</p>
            <a href="{{  each.file.url  }}" download>
              <button type="button" class="btn btn-success" style="cursor: pointer;">Download</button>
            </a>
          </div>
          {% endfor %}
        </div>
      
    </div>
    
{% endif %}
{% endblock %}